.u-class-center{text-align: center;}
.u-class-margin-8{ margin-bottom: 8rem;}
.u-class-margin-small{ margin-bottom: 1rem;}
.u-class-margin-top-small{ margin-top: 3.5rem;}
.u-class-margin-medium{ margin-bottom: 3rem;}
.horizontal-spacing{margin: 2rem 0}
.buttom-space{padding-bottom: 1rem}
